<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
         <rules>
            <rule name="OPTIONS" stopProcessing="true">
               <match url="^dav\/(.*)$" />
               <conditions logicalGrouping="MatchAny">
                  <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
               </conditions>
               <action type="CustomResponse" statusCode="200" subStatusCode="0" statusReason="OK" statusDescription="OK" />
            </rule>
            <rule name="Rewrite API" stopProcessing="true">
               <match url="^dav\/(.*)$" />
               <action type="Rewrite" url="https://dav.jianguoyun.com/dav/{R:1}" />
            </rule>
         </rules>
         <outboundRules>
            <rule name="Set CORS response header">
               <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".+" negate="true" />
               <conditions>
                  <add input="{REQUEST_URI}" pattern="dav\/.*$" />
               </conditions>
               <action type="Rewrite" value="*" />
            </rule>
            <rule name="Set CORS Method response header">
               <match serverVariable="RESPONSE_Access-Control-Allow-Methods" pattern=".+" negate="true" />
               <conditions>
                  <add input="{REQUEST_URI}" pattern="dav\/.*$" />
               </conditions>
               <action type="Rewrite" value="GET,OPTIONS,PUT,DELETE,PROPFIND" />
            </rule>
               <rule name="Set CORS allow response header">
               <match serverVariable="RESPONSE_Access-Control-Allow-Headers" pattern=".+" negate="true" />
               <conditions>
                  <add input="{REQUEST_URI}" pattern="dav\/.*$" />
               </conditions>
               <action type="Rewrite" value="Authorization,DNT,User-Agent,Keep-Alive,Content-Type,accept,origin,X-Requested-With,depth" />
            </rule>
         </outboundRules>
      </rewrite>
   </system.webServer>
</configuration>
